In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [18]:
train_data = pd.read_csv('train.csv')
train_data.head(3)

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
0,1,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1
1,2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
2,3,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1

In [19]:
train_data.shape

(61878, 95)

In [20]:
X_train = train_data.iloc[:,1:-1].values
y_train = train_data.iloc[:,-1].values

In [21]:
shuffle_index = np.random.permutation(61878)
X_train, y_train = X_train[shuffle_index], y_train[shuffle_index]

In [22]:
y_train_class_1 = (y_train == 'Class_1')

In [24]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)

/home/chandan/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [25]:
from sklearn.linear_model import SGDClassifier

In [26]:
model = SGDClassifier(random_state=42)

In [27]:
model.fit(X_train, y_train_class_1)

/home/chandan/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.stochastic_gradient.SGDClassifier'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

SGDClassifier(alpha=0.0001, average=False, class_weight=None, epsilon=0.1,
       eta0=0.0, fit_intercept=True, l1_ratio=0.15,
       learning_rate='optimal', loss='hinge', max_iter=None, n_iter=None,
       n_jobs=1, penalty='l2', power_t=0.5, random_state=42, shuffle=True,
       tol=None, verbose=0, warm_start=False)

In [28]:
y_train_pred = model.predict(X_train)
y_train_pred

array([False, False, False, ..., False, False, False])

In [29]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_train_class_1,y_train_pred)

array([[59637,   312],
       [ 1555,   374]])